.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40%;
  padding: 1.3rem;
  gap: 0.4rem;
  min-height: 100px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
  border: 1px solid red;
}

.button-close {
  transform: translate(20px, -30px);
  padding: 0.25rem 0.55rem;
  margin-left: 1rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal {
  z-index: 2;
}